---
import { Image } from 'astro:assets';
import { ViewTransitions } from 'astro:transitions';
import { Toaster } from 'solid-toast';
import FriendRequestSidebarOptions from '@/components/FriendRequestSidebarOptions';
import SignOutButton from '@/components/SignOutButton';
import {
  getFriendsByUserId,
  fetchRedis,
  isAlreadyFriendByOwnerEmail,
} from '@/server/redis';
import SidebarChatList from '@/components/SidebarChatList';
import Button from '@/components/ui/Button';

interface Props {
  title: string;
  session: Session;
  _friends?: User[];
  authFriend?: boolean;
}

const { title, session, _friends, authFriend } = Astro.props;

const sidebarOptions = [
  {
    id: 1,
    name: 'Add friend',
    href: '/dashboard/add',
    Icon: 'UserPlus',
  },
];

const friends = _friends ?? (await getFriendsByUserId(session.user.id));
const unseenRequestCount = (
  (await fetchRedis(
    'smembers',
    `user:${session.user.id}:incoming_friend_requests`
  )) as User[]
).length;

const aiPage =
  authFriend === undefined
    ? await isAlreadyFriendByOwnerEmail(session.user.id)
    : authFriend;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <div class="w-full flex h-screen">
      <div class="sm:hidden">
        <div
          class="fixed bg-zinc-50 border-b border-zinc-200 top-0 inset-x-0 py-2 px-4"
        >
          <div class="w-full flex justify-between items-center">
            <a href="/dashboard" class="flex h-8 shrink-0 items-center">
              <i class="i-bx:bxs-paper-plane h-8 w-8 text-indigo-600"></i>
            </a>
            <Button class="gap-1" id="menuBtn">
              Menu <i class="i-carbon:menu"></i>
            </Button>
          </div>
        </div>
      </div>
      <div
        class="hidden sm:flex h-full w-full max-w-xs grow flex-col gap-y-5 overflow-y-auto border-r border-gray-200 bg-white px-6 transition-all z-10 sidebar-fixed"
        id="sideBar"
      >
        <div class="flex shrink-0 items-center justify-between">
          <a href="/dashboard" class="flex h-16 shrink-0 items-center">
            <i class="i-bx:bxs-paper-plane h-8 w-8 text-indigo-600"></i>
          </a>
          <i
            id="close-btn"
            class="i-carbon:close-large cursor-pointer hidden <sm:block"></i>
        </div>

        <div class="text-xs font-semibold leading-6 text-gray-400">
          Your chats
        </div>

        <nav class="flex flex-1 flex-col" transition:persist>
          <ul role="list" class="flex flex-1 flex-col gap-y-7">
            <li>
              <SidebarChatList
                client:load
                sessionId={session.user.id}
                friends={friends}
                aiPage={aiPage}
              />
            </li>
            <li>
              <div class="text-xs font-semibold leading-6 text-gray-400">
                Overview
              </div>

              <ul role="list" class="-mx-2 mt-2 space-y-1">
                {
                  sidebarOptions.map((option) => {
                    return (
                      <li>
                        <a
                          href={option.href}
                          class="text-gray-700 hover:text-indigo-600 hover:bg-gray-50 group flex gap-3 rounded-md p-2 text-sm leading-6 font-semibold"
                        >
                          <span class="text-gray-400 border-gray-200 group-hover:border-indigo-600 group-hover:text-indigo-600 flex h-6 w-6 shrink-0 items-center justify-center rounded-lg border text-[0.625rem] font-medium bg-white">
                            <div class="i-carbon:user-follow h-4 w-4" />
                          </span>
                          <span class="truncate">{option.name}</span>
                        </a>
                      </li>
                    );
                  })
                }

                <li>
                  <FriendRequestSidebarOptions
                    sessionId={session.user.id}
                    initialUnseenRequestCount={unseenRequestCount}
                    client:load
                  />
                </li>
              </ul>
            </li>

            <li class="mt-auto flex items-center justify-between max-w-full">
              <div
                class="flex flex-1 items-center gap-x-4 py-3 text-sm font-semibold leading-6 text-gray-900"
              >
                <div class="relative h-8 w-8 bg-gray-50">
                  <Image
                    class="rounded-full w-8 h-8"
                    src={session.user.image || ''}
                    alt="Your profile picture"
                    width="50"
                    height="50"
                  />
                </div>

                <span class="sr-only">Your profile</span>
                <div class="flex flex-col">
                  <span aria-hidden="true">{session.user.name}</span>
                  <span class="text-xs text-zinc-400" aria-hidden="true">
                    {session.user.email}
                  </span>
                </div>
              </div>

              <SignOutButton client:load class="h-full aspect-square" />
            </li>
          </ul>
        </nav>
      </div>

      <aside class="max-h-screen container-atom py-16 sm:py-12 w-full">
        <slot />
        <Toaster client:load />
      </aside>
    </div>
    <style is:global>
      :root {
        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          rgb(var(--accent-light)) 30%,
          white 60%
        );
      }
      html {
        font-family: system-ui, sans-serif;
        background-size: 224px;
      }
      code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
          DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
      }

      .sider_bar__fixed__open {
        transform: translateX(0%) !important;
      }
      @media (max-width: 639px) {
        .sidebar-fixed {
          display: flex !important;
          position: fixed;
          left: 0;
          top: 0;
          transform: translateX(-100%);
        }
      }
    </style>

    <script>
      const menuBtn = document.getElementById('menuBtn');
      const sideBar = document.getElementById('sideBar');
      const closeBtn = document.getElementById('close-btn');
      const OPEN_SIDEBAR_CLASSNAME = 'sider_bar__fixed__open';

      menuBtn.addEventListener('click', () => {
        sideBar.classList.add(OPEN_SIDEBAR_CLASSNAME);
      });

      function closeHandler() {
        sideBar.classList.remove(OPEN_SIDEBAR_CLASSNAME);
      }

      closeBtn.addEventListener('click', closeHandler);
    </script>
  </body>
</html>
