---
import { getSession } from '@auth/solid-start';
import { authOptions } from '@/server/auth';
import IndexLayout from '@/layouts/IndexLayout.astro';
import { fetchRedis } from '@/server/redis';
import Messages from '@/components/Messages';
import ChatInput from '@/components/ChatInput';

const session: Session = (await getSession(Astro.request, authOptions)) as any;
if (!session) return Astro.redirect('/login');
const chatId = Astro.params.chatId;
const [userId1, userId2] = chatId.split('--');
const { user } = session;

const chatPartnerId = user.id === userId1 ? userId2 : userId1;
const chatPartnerRaw = (await fetchRedis(
  'get',
  `user:${chatPartnerId}`
)) as string;

const results: string[] = await fetchRedis(
  'zrange',
  `chat:${chatId}:messages`,
  0,
  -1
);

const chatPartner = JSON.parse(chatPartnerRaw) as User;

const initialMessages = results
  .map((message) => JSON.parse(message) as Message)
  .reverse();

const title = `Phy-chat | ${chatPartner.name} chat `;
---

<IndexLayout title={title} session={session}>
  <div
    class="flex-1 justify-between flex flex-col h-full max-h-[calc(100vh-6rem)]"
  >
    <astro-greet data-chat-id={chatPartner.id} data-own-name={user.name}>
      <div
        class="flex sm:items-center justify-between py-3 border-b-2 border-gray-200"
      >
        <div class="relative flex items-center space-x-4">
          <div class="relative">
            <div class="relative w-8 sm:w-12 h-8 sm:h-12">
              <img
                class="rounded-full"
                src={chatPartner?.image}
                alt={`${chatPartner?.name} profile picture`}
              />
            </div>
          </div>

          <div class="flex flex-col leading-tight">
            <div class="text-xl flex items-center">
              <span class="text-gray-700 mr-1.5 font-semibold">
                {chatPartner?.name}
              </span>

              <div
                id="online-status"
                class="rounded-full w-2 h-2 bg-green bg-red"
              >
              </div>
            </div>

            <span class="text-sm text-gray-600">{chatPartner?.email}</span>
          </div>
        </div>
        <i
          class="i-carbon:notification-filled text-indigo-400 hover:text-indigo-600 cursor-pointer"
          id="notification-btn"></i>
      </div>
    </astro-greet>
    <Messages
      chatId={chatId}
      chatPartner={chatPartner}
      sessionImg={session.user.image}
      sessionId={session.user.id}
      initialMessages={initialMessages}
      client:load
    />
    <ChatInput chatId={chatId} chatPartner={chatPartner} client:load />
  </div>
</IndexLayout>
<script>
  import { EventName } from '@/utils/constants';
  import toast from 'solid-toast';

  class AstroGreet extends HTMLElement {
    constructor() {
      super();

      const chatId = this.dataset.chatId;
      const ownName = this.dataset.ownName;
      const onlineStatus = this.querySelector('#online-status');
      const notifyBtn = this.querySelector('#notification-btn');

      window.addEventListener(
        EventName.SET_ONLINE_USER_MAP,
        (e: CustomEvent) => {
          const onlineMap = e.detail;
          if (onlineMap[chatId]) {
            onlineStatus.classList.remove('bg-red');
            onlineStatus.classList.add('bg-green');
          } else {
            onlineStatus.classList.remove('bg-green');
            onlineStatus.classList.add('bg-red');
          }
        }
      );

      notifyBtn.addEventListener('click', () => {
        if (!('Notification' in window)) {
          // Check if the browser supports notifications
          toast.error('This browser does not support desktop notification');
        } else if (Notification.permission === 'granted') {
          // Check whether notification permissions have already been granted;
          // if so, create a notification
          fetch('/api/message/notify', {
            method: 'post',
            body: JSON.stringify({
              userId: chatId,
              friend: ownName,
            }),
          });
        } else if (Notification.permission !== 'denied') {
          // We need to ask the user for permission
          Notification.requestPermission().then((permission) => {
            // If the user accepts, let's create a notification
            if (permission === 'granted') {
              fetch('/api/message/notify', {
                method: 'post',
                body: JSON.stringify({
                  userId: chatId,
                  friend: ownName,
                }),
              });
            }
          });
        }
      });
    }
  }

  customElements.define('astro-greet', AstroGreet);
</script>
